.input_line{
    border:none !important;
    border-bottom: 2px solid rgb(0, 0, 0) !important;
    border-radius: 0 !important;
}
.input_line:focus{
    box-shadow: 0px 1px 20px rgb(9, 26, 204)  !important;
}
/* .box1{
    border-radius: ;
} */